{{> facebook }}

<container>
    <row>
        <column>

            <center>

                <p class="text-center" style="font-size:24px;">ID Energy</p>
                <p class="text-center" style="font-size: 18px;">1 (866) 499-4921</p>

                <p class="text-center">
                    3131 St Johns Bluff Rd S, Jacksonville, FL 32246<br>
                    <a href="mailto:homeenergyscore@inspectiondepot.com" style="text-decoration:underline;">homeenergyscore@inspectiondepot.com</a>
               </p>

            </center>

        </column>
    </row>
</container>


<container>
    <row>
        <columns large="4" small="12"><button class="expand radius facebook" href="https://www.facebook.com/groups/1861324070752514/">Like us on Facebook</button></columns>
        <columns large="4" small="12"><button class="expand radius youtube" href="https://www.youtube.com/channel/UCbxVncaL-UL5BQmDkIhGxBA">Watch us on YouTube</button></columns>
        <columns large="4" small="12"><button class="expand radius secondary" href="https://energyscoreusa.com">Visit our website</button></columns>
    </row>
</container>

<container>
    <p><small>This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. E-mail transmission cannot be guaranteed to be secure or error-free as information could be intercepted, corrupted, lost, destroyed, arrive late or incomplete, or contain viruses. The sender therefore does not accept liability for any errors or omissions in the contents of this message, which arise as a result of e-mail transmission. If verification is required please request a hard-copy version.</small></p>
</container>